*{
    margin: 0;
}

#myimage{
    background-image: url("photo.jpg");
    background-size: cover;
    height: 610px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#myimage .placing{
color: #1d0f33;
transform: translateY(-20%);
}

form{
    align-content: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}

h6{
    font-size: 1em;
}

section{
    margin-top: 20px;
}